.body {
  margin-top: 220px;
  background-color: #000;
  -o-object-fit: fill;
  object-fit: fill;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 220px 0px;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.button {
  display: block;
  width: 63.921875px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4px;
  padding-left: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: rgba(180, 180, 180, 0.37);
  color: #bbe7ec;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.button.w--current {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 20px;
  background-color: rgba(253, 254, 255, 0.51);
  opacity: 0.88;
  color: #d8fbff;
}

.text-block {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 220px;
  padding-left: 220px;
  color: #a5a5a5;
  text-align: center;
}

.container-2 {
  display: block;
  margin-top: 220px;
  padding-right: 40px;
  padding-left: 40px;
}

.container-3 {
  margin-top: 220px;
  padding-right: 40px;
  padding-left: 40px;
}

.container-4 {
  margin-top: 220px;
  padding-right: 40px;
  padding-left: 40px;
}

.container-5 {
  margin-top: 220px;
  padding-right: 40px;
  padding-left: 40px;
}

.body-2 {
  background-color: #000;
}

.body-3 {
  background-color: #000;
}

.body-4 {
  background-color: #000;
}

.body-5 {
  background-color: #000;
}

@media screen and (max-width: 991px) {
  .text-block {
    margin-right: 140px;
    margin-left: 140px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}